In [1]:
import pandas as pd
import pm4py
import pm4py.algo.filtering.pandas.ltl as ltl 
# for xes format: pm4py.algo.filtering.log.ltl 
# for pandas dataframes: pm4py.algo.filtering.pandas.ltl
import os

##### The same data set as in the basic_fiters script

In [2]:
# get data from csv file
df = pd.read_csv(os.path.join("logs", "detail_incident_activity.csv"))
# dataframe formatting
df = pm4py.format_dataframe(df, case_id="Incident ID", activity_key="IncidentActivity_Type", timestamp_key="DateStamp")

# KeyError: "['org:resource'] not in index"
# org:resource = who performed a given activity
df.rename(columns={'Assignment Group':'org:resource'}, inplace=True) 


# drop unnecessary columns
df.drop(['Incident ID', 'DateStamp', 'IncidentActivity_Number','IncidentActivity_Type', 'KM number','Interaction ID','@@index'], inplace=True, axis=1)
# convert dataframe to logs format
logs = pm4py.convert_to_event_log(df)

In [3]:
df.columns

Index(['org:resource', 'case:concept:name', 'concept:name', 'time:timestamp'], dtype='object')

LTL checking requires data who done

#### LTL filtering examples
##### Based on documentation : https://pm4py.fit.fraunhofer.de/documentation#item-5-9 
Chosen LTL filters:
1. Four eyes principle
2. Attribute value different persons
3. Eventually follows

##### 1. Four eyes principle

<pre>
"""
Applies the four eyes principle on the activities A and B.
Parameters:
log: event log
A: the activity A of the rule (an activity of the log)
B: the activity B of the rule (an activity of the log)
Returns:
Filtered log object (containing the cases which have A and B done by the same person)
"""
</pre>

##### I think it can be probably a mistake in the documentation (look at the last line)
##### Should be: Filtered log object (containing the cases which HAVEN'T A and B done by the same person)

In [4]:
logs = ltl.ltl_checker.four_eyes_principle(df, "Open", "Closed")

In [5]:
logs.tail(4)

# It works, but we should find a better data set

# Below we see the case IM0047057
# The activities "Open" (TEAM0199) and "Closed" (TEAM0134) were done by two DIFFERENT teams!

       org:resource case:concept:name concept:name            time:timestamp
466733     TEAM0199         IM0047057         Open 2014-03-31 17:24:50+00:00
466734     TEAM0199         IM0047057       Update 2014-03-31 17:25:07+00:00
466735     TEAM0134         IM0047057   Assignment 2014-03-31 20:38:58+00:00
466736     TEAM0134         IM0047057       Closed 2014-03-31 22:47:33+00:00

In [6]:
logs.head(34)

# Below we see the case IM0047057
# The activities "Open" (TEAM9999) and "Closed" (TEAM0171) were also done by two DIFFERENT teams!

,org:resource,case:concept:name,concept:name,time:timestamp
290,TEAM9999,IM0000038,Open,2013-01-15 14:36:33+00:00
291,TEAM0003,IM0000038,Operator Update,2013-01-15 15:06:12+00:00
292,TEAM0003,IM0000038,Assignment,2013-01-15 15:06:12+00:00
293,TEAM0003,IM0000038,Operator Update,2013-01-15 16:03:24+00:00
294,TEAM0003,IM0000038,Communication with customer,2013-01-15 16:17:52+00:00
295,TEAM0003,IM0000038,Status Change,2013-01-15 16:45:47+00:00
296,TEAM0003,IM0000038,Operator Update,2013-01-16 09:42:24+00:00
297,TEAM0003,IM0000038,Reassignment,2013-01-29 08:36:42+00:00
298,TEAM0003,IM0000038,Operator Update,2013-02-04 13:12:00+00:00
299,TEAM0003,IM0000038,Communication with customer,2013-02-14 15:29:59+00:00
300,TEAM0003,IM0000038,Communication with customer,2013-03-13 07:09:42+00:00
301,TEAM0003,IM0000038,Communication with customer,2013-03-13 15:35:20+00:00
302,TEAM0003,IM0000038,Update,2013-04-02 09:15:00+00:00
303,TEAM0003,IM0000038,Update,2013-06-02 14:36:00+00:00
304,TEAM0003,IM0000038,Operator Update,2013-06-08 12:18:00+00:00
305,TEAM0003,IM0000038,External Vendor Assignment,2013-06-17 12:42:19+00:00
306,TEAM0003,IM0000038,Communication with vendor,2013-06-17 12:42:19+00:00
307,TEAM0003,IM0000038,Status Change,2013-06-17 12:42:19+00:00
308,TEAM0003,IM0000038,Communication with vendor,2013-06-18 09:57:26+00:00
309,TEAM0003,IM0000038,Update,2013-07-02 13:19:00+00:00
310,TEAM0003,IM0000038,Update,2013-07-05 10:20:00+00:00
311,TEAM0003,IM0000038,Update,2013-07-10 15:31:00+00:00
312,TEAM0003,IM0000038,Operator Update,2013-08-02 10:10:00+00:00
313,TEAM0003,IM0000038,Pending vendor,2013-08-07 13:16:00+00:00
314,TEAM0003,IM0000038,Status Change,2013-08-10 08:46:00+00:00
315,TEAM0003,IM0000038,Operator Update,2013-08-10 08:46:00+00:00
316,TEAM0003,IM0000038,Reassignment,2013-08-10 08:46:00+00:00
317,TEAM0003,IM0000038,Assignment,2013-08-10 08:46:00+00:00
318,TEAM0003,IM0000038,Pending vendor,2013-09-07 06:14:00+00:00
319,TEAM0009,IM0000038,Update,2013-10-16 11:59:52+00:00
320,TEAM0003,IM0000038,Operator Update,2013-12-08 12:02:00+00:00
321,TEAM0009,IM0000038,Reassignment,2014-01-29 13:11:52+00:00
322,TEAM0009,IM0000038,Update,2014-01-29 13:11:52+00:00
323,TEAM0171,IM0000038,Closed,2014-01-29 15:01:17+00:00

##### 2. Attribute value different persons

<pre>
"""
Finds the process executions in which the activity A is repeated by different people.
Parameters:
log: event log
A: the activity A of the rule (an activity of the log)
Returns:
Filtered log object (containing the cases which have A repeated by different people)
"""
</pre>

In [7]:
fitered_logs = ltl.ltl_checker.attr_value_different_persons(df, "Update")
fitered_logs.head(18)

# It works, but we should find a better data set

# Below we see the case IM0000015
# In this case "Update" activity was repeated by two different teams: TEAM0003 and TEAM0002

,org:resource,case:concept:name,concept:name,time:timestamp
80,TEAM0003,IM0000015,Update,2013-01-05 13:58:00+00:00
81,TEAM0003,IM0000015,Update,2013-01-05 14:06:00+00:00
82,TEAM0002,IM0000015,Update from customer,2013-02-13 12:31:12+00:00
83,TEAM0002,IM0000015,Update from customer,2013-02-14 11:07:09+00:00
84,TEAM0002,IM0000015,Assignment,2013-02-14 11:07:09+00:00
85,TEAM0002,IM0000015,Reassignment,2013-02-14 11:07:09+00:00
86,TEAM0003,IM0000015,Assignment,2013-02-14 12:05:15+00:00
87,TEAM0002,IM0000015,Update from customer,2013-08-11 14:06:00+00:00
88,TEAM0002,IM0000015,Assignment,2013-08-11 14:06:00+00:00
89,TEAM0002,IM0000015,Reassignment,2013-08-11 14:06:00+00:00
90,TEAM0003,IM0000015,Closed,2013-08-11 14:09:00+00:00
91,TEAM0003,IM0000015,Caused By CI,2013-08-11 14:09:00+00:00
92,TEAM0003,IM0000015,Assignment,2013-09-18 15:00:45+00:00
93,TEAM0003,IM0000015,Operator Update,2013-09-18 15:56:51+00:00
94,TEAM0003,IM0000015,Reassignment,2013-09-18 16:01:35+00:00
95,TEAM0003,IM0000015,Assignment,2013-09-18 16:01:35+00:00
96,TEAM0003,IM0000015,Reassignment,2013-10-03 18:52:00+00:00
97,TEAM0002,IM0000015,Update,2013-10-14 10:33:49+00:00

##### 3. Eventually follows

<pre>
"""
Applies the A eventually B rule,
finding the cases in which an event with activity A was followed in the future by an event with activity B.
Parameters:
log: event log
A: the activity A of the rule (an activity of the log)
B: the activity B of the rule (an activity of the log)
Returns:
Filtered log object (containing the cases which respect the rule)
"""
</pre>

In [8]:
logs = ltl.ltl_checker.eventually_follows(df, ["Open", "Update"])

In [9]:
logs.tail(4)
# Look at event IM0047057 - activity "Update" occurred after "Open"

       org:resource case:concept:name concept:name            time:timestamp
466733     TEAM0199         IM0047057         Open 2014-03-31 17:24:50+00:00
466734     TEAM0199         IM0047057       Update 2014-03-31 17:25:07+00:00
466735     TEAM0134         IM0047057   Assignment 2014-03-31 20:38:58+00:00
466736     TEAM0134         IM0047057       Closed 2014-03-31 22:47:33+00:00